:root {
  font-family: 'Roboto', sans-serif;
  --font-family-main: 'Roboto', sans-serif;
  --font-family-secondary: 'Rubik', sans-serif;

  --color-text: #ffffff;
  --color-line: #6A6363;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}